/* src/components/NewsCard.css */
.news-card {
  height: 374px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  gap: 1;
}

.news-card__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.news-card__content {
  padding: 10px;
  overflow: hidden;
  flex: 1;
}

.news-card__title {
  margin-top: 10px;
  font-size: 16px;
  margin: 10px 0 5px;
}

.date_like {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.news-card__date {
  margin-top: 10px;
  color: #888;
  font-size: 12px;
  margin-bottom: 10px;
}
.news-card__views_img {
  margin-left: 10px;
  width: 13px;
}
.news-card__views {
  margin-left: 3px;
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 10px;
}
.news-card__like_img {
  margin-left: 10px;
  width: 13px;
}
.news-card__like {
  margin-left: 3px;
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 10px;
}
.news-card__snippet {
  margin-top: 10px;
  font-size: 14px;
}
