.headerWrap {
    width: 100%;
    height: 50px;
}
.logoWrap, .modeBtnWrap, .logoWrap img, .modeBtnWrap .modeBtn img {
    height: 100%;
}
.logoWrap {
    margin-left: 20px;
    float: left;
}
.modeBtnWrap {
    display: flex;
    align-items: center;
    margin-right: 20px;
    float: right;
}
.modeBtnWrap img {
    width: 74px;
}