.bodyWrap {
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* 수평 스크롤 숨기기 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  justify-content: relative;
}

.blank {
  flex: 1.2;
}

/* 디테일 상단 바 */

.go-to-back {
  width: 30%;
  position: fixed;
  height: 40px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 1000;
}
.up-left {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 70%;
}

.small-img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.small-title {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap; /* 텍스트를 한 줄로 */
  overflow: hidden; /* 텍스트가 넘칠 경우 숨김 */
  text-overflow: ellipsis; /* 넘친 텍스트를 ...으로 표시 */
}
.up-right {
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.up-views-count {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.up__views_img {
  width: 18px;
}
.up-views {
  margin-left: 4px;
  font-size: 12px;
}

.handle-like {
  align-items: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-left: 10px;
}

.up__like_img {
  width: 18px;
}
.up-like {
  margin-left: 4px;
  font-size: 12px;
}

/* detail 본문 */
.newsDetailWrap {
  padding: 20px;
  height: calc(100% - 60px); /* 고정된 헤더 높이를 제외한 높이 설정 */
  overflow-y: auto; /*세로 스크롤 허용*/
}

.news-detail__image {
  margin-top: 45px;
  width: 100%;
  border-radius: 8px;
}

.news-detail__title {
  font-size: 24px;
  margin-top: 20px;
  line-height: 28px;
}

.news-detail__company-name {
  margin-top: 30px;
  margin-right: 20px;
}

.news-detail__content {
  margin-top: 30px;
  line-height: 1.6;
}

.news-detail__media {
  margin-top: 30px;
}

.news-detail__date {
  margin-top: 20px;

  color: #888;
}

.news-detail__button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fff;
  color: #704eff;
  border: solid #704eff 1px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* 버튼을 양쪽으로 길게 설정 */
  box-sizing: border-box; /* 패딩과 보더를 포함하여 100% 너비를 유지 */
  text-align: center; /* 텍스트 가운데 정렬 */
  font-size: 16px; /* 글자 크기 설정 */
  width: 100%; /* 버튼을 양쪽으로 길게 설정 */
  box-sizing: border-box; /* 패딩과 보더를 포함하여 100% 너비를 유지 */
  transition: background-color 0.3s, color 0.3s; /* 호버 효과를 위한 트랜지션 */
  font-size: small;
  text-decoration: none;
}
.dark-mode__button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #8d72ff;
  border: solid #8d72ff 1px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* 버튼을 양쪽으로 길게 설정 */
  box-sizing: border-box; /* 패딩과 보더를 포함하여 100% 너비를 유지 */
  text-align: center; /* 텍스트 가운데 정렬 */
  font-size: 16px; /* 글자 크기 설정 */
  width: 100%; /* 버튼을 양쪽으로 길게 설정 */
  box-sizing: border-box; /* 패딩과 보더를 포함하여 100% 너비를 유지 */
  transition: background-color 0.3s, color 0.3s; /* 호버 효과를 위한 트랜지션 */
  font-size: small;
  text-decoration: none;
}
.news-detail__button:hover {
  background-color: #704eff;
  color: #fff;
  border: solid #704eff 1px;
}

.dark-mode__button:hover {
  background-color: #8d72ff;
  color: #fff;
  border: solid #8d72ff 1px;
}

.news-detail__recommendations {
  margin-top: 40px;
  margin-bottom: 40px;
}

.news-detail__recommendations ul {
  list-style: none;
  padding: 0;
}

.recommendation-item {
  display: flex;
  align-items: center;
  margin: 20px 0; /* 위아래 마진 추가 */
}

.recommendation-label {
  flex: 1;
}

.recommendation-bar {
  flex: 7;
  height: 30px; /* 높이를 더 높게 설정 */
  border-radius: 15px; /* 높이에 맞게 조정 */
  margin: 0 10px;
  overflow: hidden;
  position: relative; /* 둥근 끝부분을 유지하기 위해 추가 */
}

.recommendation-bar-inner {
  height: 100%;
  border-radius: 15px; /* 높이에 맞게 조정 */
}

.recommendation-percentage {
  flex: 1;
  text-align: right;
  font-weight: bold;
}

.related-container {
  padding: 20px;
}

.related-articles {
  margin-bottom: 20px;
  font-weight: 700;
  /* color: #2c2d2e; */
}

.related-articles__list {
  display: flex;
  flex-wrap: nowrap; /* 줄바꿈을 허용하여 한 줄에 두 개의 카드가 배치되도록 설정 */
  justify-content: space-between; /* 카드 사이의 공간을 균등하게 배분 */
  gap: 20px;
  width: 100%;
}
