.mainWrap {
    width: 100%;
    height: 720px;
    margin: 40px;
}

.mainWrap .title {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 20px;
}

.titleWrap {
    display: flex;
    justify-content: space-between;
}

.news-carousel {
    margin-left: 20px;
    margin-right: 20px;
}